body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
body
{
  font-family:Gill Sans MT;
  padding:10px;
}

fieldset
{
  border: solid 1px #000;
  padding:10px;
  display:block;
  clear:both;
  margin:5px 0px;
}

legend
{
  padding:0px 10px;
  background:black;
  color:#FFF;
}

.row, .column {
  width: 70px;
}

.grid-form-input {
  width: 30px;
  height: 30px;
  border: 1px solid #333;
  text-align: center;
}

#message{
  font-size: 20px;
  background:black;
  color:#FFF;
}

#history{
  position: absolute;
  top:5%;
  right:8%;
  font-size: 20px;
  color: black;
}